
{{!-- The following form submits a client/tutuka markoff files pair --}}

<form role="form" enctype="multipart/form-data" method="post" id="fileinfo" {{action (route-action 'createPost') on='submit'}}>

  {{input type="file" id="clientMarkoffFile"  class="form-control" name="clientMarkoffFile"}}
  {{input type="file" id="tutukaMarkoffFile"  class="form-control" name="tutukaMarkoffFile"}}

  <button type="submit" class="btn btn-default" >Submit</button>

</form>

{{outlet}}